<hr>
<h2>Property Binding !!!</h2>
<h5>One way Binding using square bracket : TS --> HTML </h5>

<h3>
    <!-- can be used to set property of a tag or call function -->

    <!-- seetting the value property  -->
    Enter name : <input type="text" name="t1" [value]="user"><br>
    <!-- setting the disabled property -->
    <button [disabled]="switch">SUBMIT</button>
    <!-- calling a function -->
    <button [disabled]="getValue()">EXIT</button>
    <br>
    <!-- setting the image location -->
    <img [src]="imgpath" alt="can have any image link which can change at regular interval">
</h3>