<h1>From parent component</h1>

<p>we have removed the default root component and made our own root component</p>

<child></child>
<app-sibling></app-sibling>
<login></login>

<!-- we can take component as tags or as selector -->
<!-- <register></register> -->

<!-- to make it class selector, put a . before class name in ts file -->
<div class="register">

</div>

<!-- View Encapsulation - making changes in any component css will affect only that component -->

<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-two-way-processing></app-two-way-processing>
<app-inbuilt-pipe></app-inbuilt-pipe>
<app-custom-pipe></app-custom-pipe>