/* You can add global styles to this file, and also import other style files */

h3{
    color : purple;
}

/* local styling will take preference in global styling */

h2{
    color:blue;
    text-align: center;
}
