<hr>
<h1>Please Register</h1>
<hr>
<form action="">
    <h3>
        username <input type="text" name="uname" id=""><br>
        password <input type="password" name="pwd"><br>
        confirm <input type="password" name="pwd2"><br>
        Qualification <input type="text" name="pwd3"><br>
        DOB <input type="date" name="pwd4"><br>
        Email <input type="email" name="pwd5"><br>
        <br>
        <input type="submit" name="b1" value="Register">
        <input type="reset" name="b2" value="RESET">
    </h3>
</form>
